.header-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 12px;
  max-width: 100%;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--secondary_color);
}

.header > h2 {
  font-size: 2.5rem;
}

.header > div {
  font-size: 0.8rem;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-balance {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.title-balance {
  color: var(--secondary_color);
  font-weight: 600;
}

.current-balance {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary_color);
}
