body {
  box-sizing: border-box;
}

.carta-boca-abajo {
  width: 100px;
  height: 100px;
  background: #9bd5fa;
  border-radius: 15px;
  padding: 10px;
}

.carta-boca-arriba {
  width: 100px;
  height: 100px;
  background: #d489e9;
  border-radius: 15px;
  padding: 10px;
}
