* {
  box-sizing: border-box;
}

body {
  background-color: #e4f8fa;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 10px;
}

.contenedor-carta {
  width: 100px;
  height: 100px;
  transition-timing-function: cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}

.carta,
.imagenes {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.carta {
  transition: all 550ms;
  background: #9bd5fa;
  transform-style: preserve-3d;
}

.imagenes {
  background: #d489e9;
  padding: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
